*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------- 
            HEADER 
---------------------------*/
.btn-Doc{
    padding: 10px;
    background-color: rgb(64, 123, 255) ;
    border-radius: 8px;
}

.change-a{
    display: inline-block;
}

/* ----------------------------
            COLORS
-------------------------------*/
.clr-dark {
    color: #1a1a1a; 
}
.clr-white{
    color: white;
}
.bg-bleu{
    background-color: rgb(64, 123, 255) ;
}
.clr-btn-fonction{
    background-color: rgba(50, 109, 235, 0.2);
}
.clr-bleu{
    color: rgb(64, 123, 255) ;
}
.clr-light-bleu{
    color: #ADC6FF;
}
.clr-green{
    color: #3B6631;
}
.clr-green-fonction{
    color: #A8C8AF;
}
.bg-green{
    background-color: #A8C8AF;
}
/*------------------------------
            TEXTE
--------------------------------*/

.suppuce{
    list-style-type: none;
}

.txt-none{
    text-decoration: none;
}

.bold{
    font-weight: 800;
}

.txt-center{
    text-align: center;
}

.majuscule{
    text-transform: uppercase;
}

.br-10{
    border-radius: 10px;
}
.br-9999{
    border-radius: 9999px;
}

/*------------------------------
            CONTAINER
--------------------------------*/
.container1100{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.container1000{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.container1200{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}



/*----------------------------------
        MARGIN ET PADDING
------------------------------------*/

.mgt128{
    margin-top: 128px;
}

.mgt100{
    margin-top: 100px;
}

.mgt50{
    margin-top: 50px;
}

.mgt30{
    margin-top: 30px;
}

.mgt25{
    margin-top: 25px;
}
.mgt15{
    margin-top: 15px;
}

.mgb128{
margin-bottom: 128px;
}

.mgb50{
margin-bottom: 50px;
}

.mgb30{
    margin-bottom: 30px;
}

.mgb15{
    margin-bottom: 15px;
}

.mgb10{
    margin-bottom: 10px;
}

.ml-30{
    margin-left: 30px;
}


.pad-16{
    padding: 16px;
}
.pad-30{
    padding: 30px;
}

.pad-40{
    padding: 40px;
}

.pad-50{
    padding: 50px;
}

.pad-foncti{
    padding: 3px 12px;
}



/*-----------------------------
        CLASSE DE TAILLE
-------------------------------*/

.w100{
    width: 100%;
}

.w50{
    width: 50%;
}
.w60{
    width: 60%;
}

.w48{
    width: 48%;
}
.w40{
    width: 40%;
}

.w30{
    width: 30%;
}

.w20{
    width: 20%;
}
/*--------------------------
            GAP
----------------------------*/
.gap5{
    gap: 5px;
}
.gap10{
    gap: 10px;
}
.gap20{
    gap: 20px;
}
.gap30{
    gap: 30px;
}
.gap50{
    gap: 50px;
}
.gap40{
    gap: 40px;
}
.gap100{
    gap: 100px;
}
.gap90{
    gap: 90px;
}
.gap150{
    gap: 150px;
}
.gap16{
    gap: 16px;
}

/*-----------------------
        FLEX-BOX
-------------------------*/

.flex{
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.just-center{
    justify-content: center;
}
.column{
    justify-content: column;
}

.space-around{
justify-content: space-around;
}

/*-----------------------
        Border 
-------------------------*/
.border-solid{
    border: solid 2px rgb(64, 123, 255);
}